@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
header{
	display:flex;
	background:white;
	flex-direction:row;
	margin-top:0;
	align-items:center;
	padding:10px;
	flex:0 1 auto;
}
.logo{
	font-size:30px;
	font-weight:bolder;
	text-align:center;
	margin-left:10px;
}

::placeholder{
	color:gray;
	font-weight:bold;
	font-family:Manjari;
}

#searchinput{
	font-weight:bolder;
	color:black;
	border-width:0;
	flex:1;
	margin-left:20px;
	background:transparent;
	align-self:center;
	background:#e2e1e1;
	height:20px;
	padding:10px 20px 10px 20px;
	border-radius:10px;
}
#searchinput:focus{
	outline:none;
	box-shadow:0 0 5px gray;
}
.contentcontainer{
	display:flex;
	padding:15px;
	overflow:auto;
	gap:20px;
	margin:0;
	flex:1 1 auto;
	height:100vh - 50px;
	align-self:strech;
}
html, body{
	margin:0;
	height:100%;
	width:100%;
	font-family:Manjari;
}
body{
	display:flex;
	flex-flow:column;
}

.meaningrect{
	box-shadow:0px 0px 5px gray;
	padding:20px;
	flex:1;
	min-width:350px;
	display:block;
	overflow:auto;
	border-radius:20px;
	background-image:linear-gradient(to bottom right, #8a66fb, #5b86e5);
}

#englishword{
	margin-top:30px;
	font-weight:bolder;
	color:#e2e1e1;
	font-size:28px;
	padding:0;
	margin-bottom:0;
}
#meaning{
	color:white;
	font-size:36px;
	font-weight:bolder;
	margin:0;
}
#description{
	font-size:14px;
	color:white;
	font-family:Manjari;
	overflow-wrap:break-word;
	text-align:justify;
	overflow-x:hidden;
	overflow-y:scroll;
	margin:0;
	height:100px;
	position:relative;
	scrollbar-width:thin;
	scrollbar-color:transparent transparent;
}
#alltranslations{
	display:flex;
	flex:1;
	overflow-y:scroll;
	flex-wrap:wrap;
	flex-basis:200px;
	padding:20px 20px 0 0;
	align-self:strech;
	color:transparent;
	border-color:blue;
	border-width:2px;
	gap:10px;
	padding:0;
}

.itemrect{
	width:125px;
	height:75px;
	border:solid #6537f7;
	border-width:1px;
	border-radius:8px;
	background:white;
	align-items:center;
	display:flex;
	flex-direction:column;
	cursor:pointer;
	color:black;
}
.itemrect[selected=true]{
	background:linear-gradient(to right bottom, #67baff,#5373ff);
	color:white;
	border-width:0px;
	box-shadow:0 0 5px grey;
}
.itemrect:hover{
	box-shadow:0 0 5px grey;
}
.itemnameen{
	font-size:16px;
	font-weight:bolder;
	margin:8px 0 5px 0;
	text-align:center;
	max-width:110px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.itemnamell{
	margin:0 0 8px 0;
	font-size:12px;
	font-weight:bolder;
	text-align:center;
	max-width:110px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.speakbutton{
	background-image:linear-gradient(to right bottom, #5f72bd, #9b23ea);
	width:75px;
	height:16px;
	padding:2px 4px 2px 4px;
	border-width:0px;
	align-items:center;
	border-radius:8px;
	color:white;
	font-family:Manjari;
	font-weight:bolder;
	display:flex;
	justify-content:center;
	cursor:pointer;
}
.speakbutton:hover{
	box-shadow:0 0 2px grey;
}
.itemadjuster{
	display:flex;
	flex:1;
	align-items:center;
	min-width:125px;
	min-height:75px;
	justify-content:center;
}
#meaningcontainer{
	flex:1;
	align-self:flex-start;
	min-width:350px;
	display:flex;
	flex-direction:column;
}
#languageselector{
	margin:15px 0 15px 0;
	padding:0;
}

ul#languageselector li{
	display:inline;
	background:blue;
	padding:5px 15px 5px 15px;
	align-items:center;
	font-weight:bolder;
	border-radius:15px;
	background:white;
	border:1px solid #6537f7;
	cursor:pointer;
}

ul#languageselector li[selected=true]{
	background:#6537f7;
	box-shadow:0 0 5px grey;
	color:white;
}

ul#languageselector li:hover{
	box-shadow:0 0 5px grey;
}

@media (max-width:800px){
	.contentcontainer{
		flex-direction:column;
		height:initial;
		overflow:visible;
		gap:0;
	}
	.meaningrect{
		flex-grow:2;
		min-height:200px;
	}
	#alltranslations{
		overflow-y:visible;
	}
	#meaningcontainer{
		align-self:initial;
	}
	body{
		display:initial;
	}
	.description{
		height:initial;
	}
}
@media (max-width:500px){
	header{
		flex-direction:column;
	}
	.searchinput{
		align-self:strech;
	}
}

