@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
header{
	display:flex;
	background:white;
	flex-direction:row;
	margin-top:0;
	align-items:center;
	padding:10px;
	flex:0 1 auto;
}
.logo{
	font-size:30px;
	font-weight:bolder;
	text-align:center;
	margin-left:10px;
}
.searchinput{
	margin-left:30px;
	margin-right:10px;
	flex:1;
	font-family:Manjari;
	box-shadow:0 0 5px grey;
	background:lightgray;
	display:flex;
	align-items:center;
	height:20px;
	border-radius:10px;
	padding:10px;
}

::placeholder{
	color:gray;
	font-weight:bold;
	font-family:Manjari;
}

div input{
	font-weight:bolder;
	color:black;
	border-width:0;
	flex:1;
	background:transparent;
	align-self:center;
}
.contentcontainer{
	display:flex;
	padding:10px;
	overflow:auto;
	height:100%;
	gap:20px;
	margin:0;
	flex:1 1 auto;
	height:100vh - 50px;
	align-self:strech;
}
html, body{
	margin:0;
	height:100%;
	width:100%;
	font-family:Manjari;
}
body{
	display:flex;
	flex-flow:column;
}

.meaningrect{
	box-shadow:0px 0px 5px gray;
	align-self:flex-start;
	padding:20px;
	flex:1;
	min-width:400px;
	display:block;
	overflow:auto;
	border-radius:20px;
	background-image:linear-gradient(to bottom right, #8a66fb, #5b86e5);
}

.englishword{
	margin-top:30px;
	font-weight:bolder;
	color:grey;
	font-size:28px;
	padding:0;
	margin-bottom:0;
}
.meaning{
	color:white;
	font-size:36px;
	font-weight:bolder;
	margin:0;
}
.description{
	font-size:14px;
	color:white;
	font-family:Manjari;
	overflow-wrap:break-word;
	text-align:justify;
	overflow-x:hidden;
	overflow-y:scroll;
	margin:0;
	position:relative;
	scrollbar-width:thin;
	scrollbar-color:transparent transparent;
}
#alltranslations{
	flex:2;
	flex-basis:200px;
	background:blue;
	align-self:strech;
}

@media (max-width:800px){
	.contentcontainer{
		flex-direction:column;
	}
	.meaningrect{
		min-width:0;
		align-self:flex-start;
		min-height:200px;
	}
}
@media (max-width:500px){
	header{
	}
}
